<!DOCTYPE html>
<html lang="en">
<div th:fragment="banner">
	<div class="row">
		<div class="col-md-8">
			<img src="img/sample-logo.jpg" width="383" alt="Sample Logo" />
		</div>
		<div class="col-md-4">
			<img src="img/hapi_fhir_banner_right.png" align="right" />
		</div>
	</div>
	
	<!-- Error banner in case anything went wrong -->	
	<div class="alert  alert-danger alert-dismissable" th:if="${errorMsg} != null">
		<strong>Warning!</strong>
		<div th:if="${errorMsg.contains('AuthenticationException')}">
			You have to login to use this system.
			<a class="btn btn-primary" href="http://localhost:8080/hapi-fhir-jpaserver/openid_connect_login?identifier=http%3A%2F%2Flocalhost%3A8081%2Fopenid-connect-server-webapp%2F">Register / Login</a>
		</div>
		<p  th:unless="${errorMsg.contains('AuthenticationException')}" th:text="${errorMsg}"></p>
	</div>
	
</div>
</html>
